.reading-list-view {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  background-color: #f1f0f2;
  height: max-content;
}

.display-body-reading-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.p-prompt-reading-list {
  width: 200px;
  text-align: center;
  padding-top: 90px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-container-reading-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  min-height: 800px;
  max-height: 900px;
  width: 55vw;
  min-width: 600px;
  opacity: 0.7;
  background-color: wheat;
  border-radius: 25px;
  box-shadow: rgba(72, 64, 64, 0.825) -10px 5px 25px 0px;
  padding: 30px;
  overflow: auto;
}

@media screen and (max-width: 450px) {
  .reading-list-view {
    min-width: 350px;
    width: 100%;
  }

  .display-body-reading-list {
    flex-direction: column;
    align-items: center;
  }

  .card-container-reading-list {
    min-width: 350px;
  }

  .p-prompt-reading-list {
    margin-bottom: 20px;
    font-size: 25px;
    padding-top: 10px;
  }

  .top-cat {
    display: none;
  }
}
