.rl-book-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.rl-card-detail {
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: space-between;
  padding: 3% 0;
  max-width: 70%;
}

.rl-card-title {
  font-size: 1.1rem;
  font-weight: 700;
}

.rl-book-card img {
  height: 210px;
  max-width: 140px;
}

.rl-card-link {
  text-decoration: none;
  color: black;
  width: 100%;
}

.rl-delete-btn {
  width: 50%;
  border: none;
  outline: none;
  padding: 5px;
  background-color: #d99771;
  border-radius: 5px;
  align-self: center;
  margin-top: 2%;
}
