.rl-book-card {
  max-width: 500px;
}

.rl-book-card img {
  height: 210px;
  max-width: 140px;
}

.rl-book-card p {
  width: 100px;
  font-size: 12px;
}

.rl-book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
