.detail-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f1f0f2;
  height: max-content;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  max-height: 900px;
  height: 90vh;
  width: 55vw;
  min-width: 600px;
  opacity: 0.8;
  background-color: wheat;
  border-radius: 25px;
  box-shadow: rgba(72, 64, 64, 0.825) -10px 5px 25px 0px;
  padding: 30px;
  font-size: 20px;
}

.add-readlist-btn {
  margin-top: 15px;
}
.detail-author,
.detail-rating {
  margin-top: 15px;
}

.detail-title {
  font-size: 30px;
  margin-bottom: 15px;
}

.detail-cover {
  max-width: 400px;
  max-height: 70vh;
  height: 60vh;
  width: 40vw;
}

.overview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  height: 75vh;
  width: 40vw;
}

.detail-info {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.overview-container {
  display: flex;
  align-items: center;
  width: 40vw;
  max-height: 40vh;
  min-height: 20vh;
  --contentHeight: 30vh;
  overflow: scroll;
}

.go-back-arrow {
  height: 40px;
  margin-top: 90px;
}
.arrow-container {
  display: flex;
  justify-content: flex-start;
  max-width: 400px;
  width: 40vw;
  height: 25vh;
}

.add-readlist-btn {
  border: none;
  outline: none;
  background-color: #d99771;
  padding: 10px;
  border-radius: 5px;
}

.added-text {
  color: #a64724;
}

@media screen and (max-width: 450px) {
  .overview-display {
    flex-direction: column-reverse;
  }

  .left-container {
    min-height: 30px;
    max-height: 350px;
    width: 350px;
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  .detail-container {
    min-height: 400px;
    max-height: 400px;
    height: 500px;
    width: 55vw;
    min-width: 350px;
    font-size: 15px;
  }

  .detail-title {
    font-size: 18px;
  }

  .overview-container {
    width: 200px;
    max-height: 200px;
    min-height: 20vh;
    --contentHeight: 200px;
  }

  .go-back-arrow {
    height: 30px;
    margin-top: 40px;
  }

  .arrow-container {
    justify-content: center;
    max-width: 350px;
    width: 350px;
    height: 150px;
  }

  .detail-info {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .missing-cover {
    margin: 15px;
  }
}
