.search-container {
  margin-top: 5rem;
}

.search-input {
  height: 2rem;
  width: 12rem;
  text-align: center;
  border-radius: 7px;
  border: 0;
  outline: none;
  box-shadow: rgba(72, 64, 64, 0.825) -5px 5px 5px 0px;
}
