.book-card img {
  height: 210px;
  max-width: 140px;
  opacity: 1;
}

.book-card p {
  width: 140px;
  max-height: 30px;
  font-size: 18px;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 140px;
  opacity: 1;
  transition-duration: 0.5s;
}

.book-card:hover {
  transform: scale(1.1);
  opacity: 1;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  max-width: 150px;
  height:260px;
}

a:hover {
  text-decoration: underline;
}
