.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #f29c5089;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-bar li {
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

.nav-bar .search-container {
  margin-top: 0;
}

.nav-bar img {
  height: 80px;
  margin-left: 45px;
}

@media screen and (max-width: 450px) {
  .nav-bar img {
    height: 60px;
    margin-left: 10px;
  }
}
