.books-container-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 900px;
  min-height: 100vh;
  background-color: #f1f0f2;
  height: max-content;
  font-family: "PlayfairDisplay";
}

.display-body {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  padding: 0 5%;
  justify-content: space-between;
}

.p-prompt {
  width: 200px;
  text-align: center;
  padding-top: 90px;
  font-size: 25px;
  font-family: "PlayfairDisplay";
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  min-height: 500px;
  max-height: 900px;
  height: 90vh;
  width: 55vw;
  min-width: 600px;
  opacity: 0.8;
  background-color: wheat;
  border-radius: 25px;
  box-shadow: rgba(72, 64, 64, 0.825) -10px 5px 25px 0px;
  padding: 30px;
  --contentWidth: 70vw;
  overflow: scroll;
}

@media screen and (max-width: 450px) {

  .books-container-view {
    min-width: 350px;
  }
  .display-body {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    min-width: 350px;
  }

  .p-prompt {
    margin-bottom: 20px;
    font-size: 25px;
    padding-top: 10px;
  }
}
